::selection{
    color: #fff;
    background-color: #d0021b;
}

body{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    color: #1e2022;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #007bff;
}

.bg-soft-muted{
    background-color: #F4F5F6;
}

.header-background{
    background: url("https://www.thefashionenterprise.com/uploads/1530527238kes2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.animation-move-up{
    transition: all 0.25s;
}

.animation-move-up:hover{
    transform: translateY(-4px);
}
.animation-d-1{
    animation-delay: -1s;
}

.animation-d-2{
    animation-delay: -2s;
}

.animation-d-3{
    animation-delay: -3s;
}

.animation-d-4{
    animation-delay: -4s;
}

@keyframes animation-m-u-p{
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(-35px);
    }
    100% {
        transform: translateY(-50px);
    }
}

.animation-move-up-and-down{
    animation-name: animation-m-u-p;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes animation-m-u-p-2{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.animation-move-up-and-down-3{
    animation-name: animation-m-u-p-3;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes animation-m-u-p-3{
    0% {
        transform: translateY(90px);
    }
    50% {
        transform: translateY(105px);
    }
    100% {
        transform: translateY(90px);
    }
}

.animation-move-up-and-down-2{
    animation-name: animation-m-u-p-2;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.animation-move-up-red{
    transition: all 0.25s;
}

.animation-move-up-red:hover{
    box-shadow: 0rem 0.25rem 1.5rem #dc3545;
    transform: translateY(-4px);
}

@keyframes animation-m-r-1{
    from {
        opacity: 0;
        transform: translateX(0px);
    }
    to {
        opacity: 1;
        transform: translateX(70px);
    }
}

.animation-move-right-1{
    transform: translateX(70px);
    animation-name: animation-m-r-1;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
}

.text-shadow{
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.text-none-underline{
    text-decoration: none;
}

.hover-up img{
    transition: all 0.20s;
}

.hover-up:hover > img{
    transform: translateY(-15px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.hover-red{
    transition: all 0.25s;
}

.hover-red:hover{
    color: #dc3545;
    text-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.15);
}

.overflow-y-hidden{
    overflow-y: hidden;
}

.overflow-x-hidden{
    overflow-y: auto;
    overflow-x: hidden;
}

.card-title-hover{
    transform: translateY(70px);
    transition: all 0.35s;
}

.card-img-overlay:hover .card-title-hover{
    transform: translateY(0px);
}

.card-text-hover{
    opacity: 0;
    transition: all 0.25s;
}

.card-img-overlay:hover .card-text-hover{
    opacity: 1;
}

.h-cover{
    height: 100vh;
}

.bg-hard-dark {
    background: #1c1c1c
}

.carousel-title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 978px) {
    .carousel-title{
        font-size: 2rem;
        font-weight: 200;
        line-height: 1.10;
    }
}

@media (min-width: 1000px) {
    .w-lg-100 {
        width: 100% !important;
    }
}

/* The animation code */
@keyframes anime-dropdown {
    from {
        opacity: 0;
        transform: translate(0,-15px);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

/* The element to apply the animation to */
.animation-dropdown {
    animation-name: anime-dropdown;
    animation-duration: 0.5s;
}
.animation-card{
    transform: translate(0,0px);
    transition: all 0.25s;
}

.animation-card:hover {
    transform: translate(0,-10px);
    box-shadow: 1px 4px 12px rgba(0,0,0,0.4);
}